<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2022 - 2024</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master's of Computer Application (Could Computing & DevOps)</div>
               <h4 class="category">Chandigarh University
               </h4>
               <ul>
                <li> Specialization in Cloud Computing and DevOps</li>
                    
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2021</p>
              <div class="h5">Bachelor's of computer Application</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Degree</div>
               <h4 class="category">Chaudhary Charan Singh University Meerut India
               </h4>
               <ul>
                <li>Specialization in Cloud Computing</li>
                
                                  <!-- <li>
                                      Completed my Diploma with<b> 70%</b>.
                                  </li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2018</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">The Skyland School
               </h4>
               <ul>
                <li>Affiliated with Central Board of Secondary Education (CBSE), New Delhi</li>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <!-- <li>
                    Completed my matriculation with <b>7.8 CGPA</b>.
                </li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>